html {
  box-sizing: border-box;
  --Color-principal: #2848c6;
  --Color-Titulos: #1f3e72;
  --Color-Textos: #6d7b93;
  --Amarillo: #ffd012;
  --Fuente-titulos: "Cabin", sans-serif;
  --Ancho-titulos: 700;
  --Fuente-Textos: "Lato", sans-serif;
  --Ancho-Textos-Planos: 300;
  --Ancho-Textos-Negrita: 700;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

p,
a {
  font-family: var(--Fuente-Textos);
  font-weight: var(--Ancho-Textos-Planos);
  font-size: 20px;
  color: var(--Color-Textos);
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: var(--Fuente-titulos);
  font-weight: var(--Ancho-titulos);
  font-size: 60px;
  color: var(--Color-Titulos);
  margin: 0;
}
img {
  height: 100%;
  width: 100%;
}

/* HEADER PAGINA */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.title {
  font-weight: var(--Ancho-Textos-Negrita);
  font-size: 20px;
  color: var(--Color-principal);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

nav a {
  font-weight: var(--Ancho-Textos-Negrita);
}

nav .special {
  color: whitesmoke;
  display: inline-block;
  background-color: var(--Color-principal);
  padding: 15px;
  border-radius: 10%;
}

/* main */
main {
  display: inline-flex;
  height: 100vh;
}

main .content {
  width: 50%;
  padding: 150px 230px;
}

main .extra-content {
  display: flex;
  justify-content: space-between;
}
.extra i,
.extra p {
  display: inline-block;
}
.extra i {
  margin-right: 7px;
  color: var(--Amarillo);
}

/* RAZONES */
.reasons {
  padding: 0 100px;
}

.ask {
  width: 40%;
}
.benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}

.benefit {
  padding: 20px;
  height: 100%;
}

.benefit i {
  font-size: 60px;
  color: var(--Color-principal);
}

.benefit-title {
  font-weight: var(--Ancho-Textos-Negrita);
  font-size: 25px;
}

.benefit-text {
  font-size: 25px;
}

/* PREPARACIONES */
.preparations {
  display: grid;
  padding-top: 150px;
  grid-template-columns: repeat(2, 1fr);
}

.preparations .img {
  width: 100%;
}

.preparations-info {
  padding: 0 100px;
  margin: 0;
}

.preparations-info p {
  font-size: 24px;
}

.thing {
  box-shadow: 0px 0px 127px -3px rgba(109, 123, 147, 0.1);
  -webkit-box-shadow: 0px 0px 127px -3px rgba(109, 123, 147, 0.1);
  -moz-box-shadow: 0px 0px 127px -3px rgba(109, 123, 147, 0.1);
}

.thing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thing-header p {
  font-weight: var(--Ancho-Textos-Negrita);
}

.thing-header i {
  color: var(--Color-principal);
  font-size: 30px;
}

.thing-header .gray {
  color: var(--Color-Textos);
}

/* CONTACTO EMERGENCIA */
.emergency-contact {
  padding: 100px;
}

.emergency-contact-header {
  width: 50%;
}

.emergency-contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emergency-contact-info .img {
  width: 40%;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 100px;
  width: 40%;
}

.contact i {
  font-size: 60px;
  color: var(--Color-principal);
}

.contact-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

.button {
  display: inline-block;
  padding: 20px;
  background-color: var(--Color-principal);
  color: whitesmoke;
}

/* FOOTER */
footer {
  background-color: #eef3ff;
}

.vac-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.vac-info-1 {
  padding: 50px;
  width: 50%;
}

.vac-info-1 p {
  font-size: 25px;
}

.vac-info-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list p {
  font-size: 25px;
}
.list-title {
  color: var(--Color-Titulos);
  font-weight: var(--Ancho-Textos-Negrita);
  font-size: 30px;
}

.footer-extra p{
  font-weight: var(--Ancho-Textos-Negrita);
}

.footer-extra,
.footer-extra-l {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-extra-l{
  justify-content: space-between;
  width: 20%;
}
